/* The sidebar menu */
.sidenav {

    height: 20%;
    /*width: 100px; !* Set the width of the sidebar *!*/
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    /*z-index: 1; !* Stay on top *!*/
    top:70px;
    right: 0px;
    background-color: #24252A;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0;
    padding-left: 0;
    padding-right: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 6px 16px;
    text-decoration: none;
    font-size:16px;
    color: #f2ecf8;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: rgb(66, 133, 244);
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-left: 0;}
    .sidenav a {font-size: 10px;}
}
