<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ForgotPassword</title>
    <!--    <link rel="stylesheet" type="text/css" href="/css/registration-style.css">-->
    <link th:href="@{/css/registration-style.css}" rel="stylesheet"/>

    <!--    adding ^ css folder -->
    <!--    <script type="text/javascript" th:src="@{/js/homeactions.js}"></script>-->
    <!--    adding ^ js folder -->

</head>
<body>
<div class="container">
    <h1>
        RESET PASSWORD
    </h1>
    <form action="#" th:action="@{'/forgetPasswordAction'}"
          th:object="${tempUser}" method="post">
<!--        /' + ${tempUser.getEmail()} -->
        <div>
            <input type="email" required id="email"
                   th:field="*{email}">
            <label for="email">
                Email
            </label>
            <p th:each="error : ${#fields.errors('email')}"
               th:text="${error}">Validation error</p>
        </div>
        <input type="submit" value="Get my code" name="">
    </form>
</div>
</body>
</html>


