<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!--    <link rel="stylesheet" type="text/css" href="/css/registration-style.css">-->
    <link th:href="@{/css/registration-style.css}" rel="stylesheet"/>

    <!--    adding ^ css folder -->
    <!--    <script type="text/javascript" th:src="@{/js/homeactions.js}"></script>-->
    <!--    adding ^ js folder -->

</head>
<body>
<div id="grad1"></div>
<div class="container">
    <h1>
        LOG IN
    </h1>
    <form name="f" th:action="@{/login}" method="post">
        <!--        <fieldset>-->
        <div>
            <input type="email" name="email" required>
            <label>
                Email
            </label>
        </div>
        <div>
            <input type="password" name="password" required>
            <label>
                Password
            </label>
        </div>
        <div th:if="${param.error}" class="alert alert-error" id="alert-invalid">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}" class="alert alert-success" id="alert-logged-out">
            You have been logged out.
        </div>
        <input type="submit" value="Log in" name="">
        <!--        </fieldset>-->
        <div>

        </div>
        <a href="/forgetPassword"> Forgot Password? </a>
    </form>
</div>
</body>
</html>
