<!--<!DOCTYPE html>-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Navbar</title>-->
<!--    <link th:href="@{/css/navbar-style.css}" rel="stylesheet"/>-->
<!--    &lt;!&ndash;    adding ^ css folder &ndash;&gt;-->
<!--</head>-->
<!--<body>-->
<header >
    <a href="home.html"> <img class="logo"  th:src="@{/images/logo4.png}" alt="logo"> </a>
    <nav>
        <ul class="nav__links">
            <li><a href="#">Services</a></li>
            <li><a href="/registration">I'm a patient</a></li>
            <li><a href="/registerDoctors">I'm a doctor</a></li>
        </ul>
    </nav>
    <a class="cta" href="login.html"><button> Login </button></a>
</header>

<!--</body>-->
<!--</html>-->
