<!--<!DOCTYPE html>-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Navbar</title>-->
<!--    <link th:href="@{/css/navbar-style.css}" rel="stylesheet"/>-->
<!--    &lt;!&ndash;    adding ^ css folder &ndash;&gt;-->
<!--</head>-->
<!--<body>-->
<header >
    <a href="/"> <img class="logo"  th:src="@{/images/logo4.png}" alt="logo"> </a>
    <nav>
        <ul class="nav__links">

            <li><a href="/registration" th:if="${currentUser == null}" >I'm a patient</a></li>
            <li><a href="/registerDoctors" th:if="${currentUser == null}" >I'm a doctor</a></li>
        </ul>
    </nav>
    <td>
        <a class="cta" href="login" th:if="${currentUser == null}"><button> Login </button></a>
        <a class="cta" href="profile" th:unless="${currentUser== null}">
            <button> My Profile </button></a>
    </td>
</header>

<!--</body>-->
<!--</html>-->
