<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
    <link th:href="@{/css/navbar-style.css}" rel="stylesheet"/>

</head>
<body>
<header th:replace="navbar"></header>

<table th:object="${currentUser}">
    <tr>
        <th>First name:</th>
        <td th:text="${currentUser.firstName}"></td>
    </tr>
    <tr>
        <th>Last name:</th>
        <td th:text="${currentUser.lastName}"></td>
    </tr>
    <tr>
        <th>Email: </th>
        <td th:text="${currentUser.email}"></td>
    </tr>
</table>
<table th:object="${currentDocUser}" th:if="${currentDocUser !=null}">
    <tr>
        <th>Specialization: </th>
        <td th:text="${currentDocUser.specialization}"></td>
    </tr>
    <tr>
        <th>City: </th>
        <td th:text="${currentDocUser.city}"></td>
    </tr>
    <tr>
        <th>Street: </th>
        <td th:text="${currentDocUser.street}"></td>
    </tr>
    <tr>
        <th>Location: </th>
        <td th:text="${currentDocUser.location}"></td>
    </tr>
    <tr>
        <th>Description: </th>
        <td th:text="${currentDocUser.description}"></td>
    </tr>
    <tr>
        <th>Profile Picture: </th>
        <td>
<!--            <img th:src="/@{${currentDocUser.imagePath}}"> -->
        </td>
    </tr>
    <a href="updateProfile">
        <button>Update Profile </button></a>
</table>

</body>
</html>
