<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link th:href="@{/css/registration-style.css}" rel="stylesheet"/>

</head>
<body>
<div id="grad1"></div>
<div class="container">
    <h1>
        REGISTER
    </h1>
    <form action="#" th:action="@{'/createUser'}" th:object="${user}" method="post">
        <div>
            <input type="text" id="firstName"
                   th:field="*{firstName}" required>
            <label for="firstName">
                First Name
            </label>
            <p th:each="error: ${#fields.errors('firstName')}"
               th:text="${error}">Validation error</p>
        </div>
        <div>
            <input type="text" required id="lastName"
                   th:field="*{lastName}"/>
            <label for="lastName">
                Last Name
            </label>
            <p th:each="error : ${#fields.errors('lastName')}"
               th:text="${error}">Validation error</p>
        </div>
        <div>
            <input type="email" required id="email"
                   th:field="*{email}">
            <label for="email">
                Email
            </label>
            <p th:each="error : ${#fields.errors('email')}"
               th:text="${error}">Validation error</p>
        </div>
        <div>
            <input type="password" required id="password"
                   th:field="*{password}">
            <label for="password">
                Password
            </label>
            <p th:each="error : ${#fields.errors('password')}"
               th:text="${error}">Validation error</p>
        </div>
        <!--        <div>-->
        <!--            <input type="password" name="" required>-->
        <!--            <label>-->
        <!--                Re-Enter Password-->
        <!--            </label>-->
        <!--        </div>-->
        <input type="submit" value="Register"/>

    </form>

</div>
</body>
</html>
