<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <!--    <link rel="stylesheet" type="text/css" href="/css/registration-style.css">-->
    <link th:href="@{/css/registration-style.css}" rel="stylesheet" />
    <!--    adding ^ css folder -->
    <!--    <script type="text/javascript" th:src="@{/js/homeactions.js}"></script>-->
    <!--&lt;!&ndash;        adding ^ js folder &ndash;&gt;-->

</head>
<body >
<div class="container">
    <h1>
        REGISTER
    </h1>
    <form action="#" th:action="@{'/resetPasswordAction'}"  th:object="${temporaryPassword}" method="post">
        <div>
            <input type="text" id="uid"
                   th:field="*{uid}" required>
            <label for="uid">
                Code
            </label>
<!--            <p th:each="error: ${#fields.errors('uid')}"-->
<!--               th:text="${error}">Validation error</p>-->
        </div>
        <div>
            <input type="password" required id="newPassword"
                   th:field="*{newPassword}"/>
            <label for="newPassword" >
                New password
            </label>
<!--            <p th:each="error : ${#fields.errors('newPassword')}"-->
<!--               th:text="${error}">Validation error</p>-->
        </div>
        <input type="submit" value="Reset Password" />

    </form>

</div>
</body>
</html>
