<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile Cards</title>
    <link th:href="@{/css/card.css}" rel="stylesheet"/>
    <link th:href="@{/css/navbar-style.css}" rel="stylesheet"/>
</head>
<body>
<header th:replace="navbar"></header>
<section>
    <div class="container" th:object="${doctors}">
        <h1 class="heading">Meet the doctors</h1>
        <div class="card-wrapper">
            <div class="card" th:each="doctor: ${doctors}">

                <img th:src="@{/images/background.png}" alt="card background" class="card-img">
                <img th:src="${doctor.imagePath}" alt="profile image" class="profile-img">
                <h1><p class="name" th:text="${doctor.firstLastName}"></p></h1>
                <p class="job-title" th:text="${doctor.specialization}"></p>
                <p class="location" th:text="${doctor.city}"></p>
                <p class="about" th:text="${doctor.description}"></p>
<!--                <a th:href="/contact/{id}(id=${doctor.id})" class="btn">Contact</a>-->
                <a th:href="@{'/contact/' + ${doctor.id}}" class="btn">Contact</a>


            </div>

        </div>

    </div>
</section>
</body>
</html>
