<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Side Bar</title>-->
<!--</head>-->
<!--<body>-->
<header class="sidenav">

    <div class="sidenav">
        <a th:href="@{/myAppointments}">Appointments</a>
        <a th:href="@{/myRecommendations}">Recommendations</a>
<!--        <a th:href="@{/deleteMyAccount}">Delete Account</a>-->
        <a href="javascript: document.logoutForm.submit()" > Logout </a>

    </div>
    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
        <input hidden type="submit" value="Logout"/>
    </form>
</header>

<!--</body>-->
<!--</html>-->
